@import "../../base/_global.scss";


.dashboard {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    .sidebar {
        width: 220px;
        border: 1px solid lightgrey;
        height: 100vh;
        
    }

    &-container {
        border: 1px solid lightgrey;
        width: 85%;
    }
}