@import "../../base/_global.scss";


.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 8em;



    .sidebar {
        width: 220px;
        border: 1px solid lightgrey;
        border-bottom: none;
        min-height: 90%;
        position: fixed;
    }

    &-container {
        display: flex;
        top: 0px;
        flex: 1;
        position: relative;
        flex-direction: column;
        margin-left: 220px;
        border: 1px solid lightgrey;
        width: 85%;
    }
}