.form-group {
    margin-bottom: 24px;
    label {
        margin-bottom: 5px;
        font-size: 15px;
        span {
            color: #999999;
        }
    }
    input {
        border: 1px solid #999999;
        height: 30px;
        padding: 6px 12px;
        border-radius: 3px;
        font-size: 15px;
        outline: none;
        color: #555;
    }
    input:invalid {
        box-shadow: none; }
}