@import "../../base/_global.scss";

header {
    padding: 20px;
    border: 1px solid #efe8ed;
    position: fixed;
    background: $primary-color-dark;
    top: 0;
    z-index: 2;
    width: 100%;

    section {
        max-width: 1200px;
        margin: 0 auto;
    }

    div {
        @extend %bg-image;
        background-image: url("../../images/logo.png");
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }
    
    h1 {
        color: #555;
    }

    ul {
        margin-right: 30px;
    }

    ul li {
        margin-left: 20px;
        color: #555;
        list-style: none;
        cursor: pointer;
        font-size: 16px;
    }

    a {
        text-decoration: none;
        color: #555;
    }
}

@media (max-width:414px) {
    header{
        flex-direction: column;
        text-align: center;

        h1{
            margin-bottom: 10px;
        }
    }
}