@import "../../base/_variables.scss";

footer {
    // position: absolute;
    // bottom:0;
    padding: 30px 0 10px;
    border:1px solid #efe8ed;
    width:100%;
    border-radius: 4px;
    position: absolute;
    background: $divider-color;
    margin:0;
    padding:0;

    div{
        margin:20px;
    }

    ul{
        li{
            margin:10px;
        }
        
        .fa{
            font-size: 1.5em;
            cursor: pointer;
        } 
        
    }
    
}  



